.no-padding-no-margin {
    padding: 0px;
    margin: 0px;
}

.no-left-right-padding {
    padding-left: 0px;
    padding-right: 0px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.output{
    display: inline-block;
    height: 22px;
}